<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Zarządzanie listami zakupów</title>

    <link rel="shortcut icon" href="~/Content/Images/icon_web.svg">

    <script rel="JavaScript" type="text/javascript" src="~/Scripts/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Scripts/bootstrap.js" type="text/css" />
    <link rel="stylesheet" href="~/Content/font/fontawesome.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/brands.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/all.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @Styles.Render("~/bundles/DataTables")
    @Styles.Render("~/Content/css")
</head>
<body style="background-color: #F1F2F7;">
    @Html.Partial("_Navbar")
    <div class="container" style="margin-top:20px;">
        @RenderBody()
    </div>
    @Html.Partial("_Footer")
</body>
</html>
