@using ShoppingListWeb.Models;

<nav class="navbar navbar-dark bg-dark navbar-expand-lg" id="test">
    <div class="container-fluid">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            <img src="~/Content/Images/logo.svg" alt="" ; class="d-inline-block align-text-top" height="40">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTop">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="@Url.Action("Index", "Home")">Strona g³ówna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("List", "ShoppingLists")">Listy zakupów</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("List", "Recipes")">Przepisy kulinarne</a>
                </li>
            </ul>

            <div class="d-flex">
                @if (UserIdentity.IsLoggedIn == true)
                {
                <a class="nav-link text-white" style="margin-left:-20px;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @UserIdentity.Fullname  <i style="margin-left:10px;" class="fas fa-user"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" style="margin-top:-10px;" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="@Url.Action("Account", "Account")"><i style="margin-right:15px;" class="fas fa-user"></i>Konto</a></li>
                    @if (UserIdentity.Role == "Admin")
                    {
                        <li><a class="dropdown-item" href="#"><i style="margin-right:10px;" class="fas fa-user-cog"></i>Zarz¹dzaj u¿ytkownikami</a></li>
                    }
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="@Url.Action("Logout", "Account")"><i style="margin-right:15px;" class="fas fa-sign-out-alt"></i>Wyloguj</a></li>
                </ul>
                }
                else
                {
                    <a href="@Url.Action("Login", "Account")" class="btn btn-outline-light"><i style="margin-right:5px;" class="fas fa-sign-in-alt"></i> Zaloguj</a>
                }
            </div>
        </div>
    </div>
</nav>