@using ShoppingListWeb.Models
@model Shop
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@if (ViewBag.Error != null)
{
    <div class="col-sm-12">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <span class="badge rounded-pill bg-danger">Błąd danych</span>
            @ViewBag.Error
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" />
        </div>
    </div>
}

@if (ViewBag.Success != null)
{
    <div class="col-sm-12">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span class="badge rounded-pill bg-success">Powodzenie!</span>
            @ViewBag.Success
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" />
        </div>
    </div>
}

<form id="Form" method="post">
    <div class="card">
        <div class="card-header" style="display: table; width: 100%;">
            <a href="@Url.Action("List")" class="btn btn-secondary rounded" style="float: left;"><i class="fas fa-chevron-left"></i> Wstecz</a>
            <button type="submit" class="btn btn-success rounded" style="float:right;">
                <i class="fas fa-check"></i> Zapisz
            </button>
        </div>
        <div class="card-body">
            <h3>
                @if (Model.ShopId == 0)
                {<text>Nowy sklep</text>}
            else
            {<text>Edycja sklepu</text>}
            </h3><br />
            <input id="disabled-input" name="ShopId" value="@Model.ShopId" class="form-control" type="hidden">
            <div class="row form-group">
                <div class="col-lg-2"><label for="Name" class="form-control-label" style="margin-bottom:3px;">Nazwa sklepu:</label></div>
                <div class="col-lg-9">
                    <div class="input-group">
                        <input id="Name" name="Name" class="form-control" type="text"
                               value="@Model.Name" placeholder="nazwa sklepu">
                    </div>
                </div>
            </div>

            @if (Model.ShopId > 0)
            {
            <hr />
            <div class="d-flex justify-content-between" style="margin-bottom:15px;">
                <div class="flex-column">
                    <h5 >Lista artykułów</h5>
                </div>
                <div class=" ms-auto" style="margin-left:auto; margin-right:0;">
                    <button type="submit" class="btn btn-success rounded">
                        <i class="fas fa-plus-circle"></i> Dodaj
                    </button>
                </div>
            </div>
            @Html.Partial("GroceryList", Model)
            }
        </div>
    </div>
</form>



