@using ShoppingListWeb.Models
@model Shop
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@if (ViewBag.Error != null)
{
    <div class="col-sm-12">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <span class="badge rounded-pill bg-danger">Błąd danych</span>
            @ViewBag.Error
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" />
        </div>
    </div>
}

@if (ViewBag.Success != null)
{
    <div class="col-sm-12">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span class="badge rounded-pill bg-success">Powodzenie!</span>
            @ViewBag.Success
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" />
        </div>
    </div>
}

<form id="Form" method="post">
    <div class="card">
        <div class="card-header" style="display: table; width: 100%;">
            <a href="@Url.Action("List")" class="btn btn-secondary rounded" style="float: left;"><i class="fas fa-chevron-left"></i> Wstecz</a>
            <button type="submit" class="btn btn-success rounded editShoppingListName" style="float:right;">
                <i class="fas fa-check"></i> Zapisz
            </button>
        </div>
        <div class="card-body">
            <div>
                <h3 id="shopName">
                    @if (Model.ShopId == 0)
                    {
                        <text>Nowy sklep</text>
                    }
                    else
                    {
                        if (!string.IsNullOrWhiteSpace(Model.Name))
                        {
                            <text>@Model.Name</text>
                        }
                        else
                        {
                            <text>Edycja sklepu</text>
                        }
                    }
                </h3>
                @if (Model.ShopId != 0)
                {
                    <a id="editShoppingListNameButton" style="display:inline; cursor:pointer;" class="link-primary">Edytuj</a>
                    <a id="closeEditShoppingListNameButton" style="display:inline; cursor:pointer;" class="link-primary">Ukryj</a>
                }
            </div>
            <input id="disabled-input" name="ShopId" value="@Model.ShopId" class="form-control" type="hidden" />
            <div class="editShoppingListName">
                <br />
                <div class="row form-group">
                    <div class="col-12">
                        <label for="Name" class="form-label">Nazwa</label>
                        <input type="text" name="Name" class="form-control" id="Name" placeholder="nazwa sklepu" value="@Model.Name">
                    </div>
                </div>
            </div>
            @if (Model.ShopId > 0)
            {
                <hr />
                <div class="d-flex justify-content-between" style="margin-bottom:15px;">
                    <div class="flex-column">
                        <h5>Lista artykułów</h5>
                    </div>
                    <div class=" ms-auto" style="margin-left:auto; margin-right:0;">
                        <a href="@Url.Action("EditItem", new { shopId = Model.ShopId })" class="btn btn-primary rounded"><i class="fas fa-plus-circle"></i> Dodaj</a>
                    </div>
                </div>
                @Html.Partial("GroceryList", Model)
            }
        </div>
    </div>
</form>

<script type="text/javascript">
    jQuery(function ($) {

        $(document).ready(function () {
            var shopId = $("#disabled-input").val();
            var shopName = @Html.Raw(Json.Encode(Model.Name));

            if (shopId > 0 && shopName != '') {
                $(".editShoppingListName").hide();
                $("#closeEditShoppingListNameButton").hide();
            }

            if (shopId > 0 && shopName == '') {
                $("#editShoppingListNameButton").hide();
            }
        });

        $("#editShoppingListNameButton").click(function () {
            $(".editShoppingListName").show("fast");
            $("#closeEditShoppingListNameButton").show();
            $("#editShoppingListNameButton").hide();
        });

        $("#closeEditShoppingListNameButton").click(function () {
            $(".editShoppingListName").hide("fast");
            $("#closeEditShoppingListNameButton").hide();
            $("#editShoppingListNameButton").show();
        });

    });
</script>



